<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row d-flex justify-content-between">
            <!-- Section: Text -->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Informações Adicionais Sobre esse Blog</h5>
                <p>
                    Aqui você pode usar linhas e colunas para organizar seu conteúdo do footer.
                </p>
            </div>
            <!-- Section: Text -->

            <!-- Section: Redes Sociais -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-lg-end">
                <h5 class="text-uppercase">Redes Sociais</h5>
                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                    <li class="ms-3">
                        <a href="https://www.facebook.com" class="iconface">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a href="https://www.facebook.com" class="iconzap">
                            <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a href="#!" class="icontt">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a href="#!" class="iconinst">
                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Section: Redes Sociais -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
