<form>
    <h1 class="mt-5 mb-5">Entre em contato conosco</h1>
   
    <div class="row g-3 mb-5">
    
        <div class="col ">
            <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <label for="sobrenome" class="form-label">Sobrenome</label>
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
      </div>
    <div class="mb-3 ">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-floating mt-5 mb-5">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
  </form>